body{
    font-family: 'Roboto Slab', serif;
    background-color: rgb(240, 240, 240);
    margin: 0;
}
nav{
    background-color: blue;
    padding-top: 42px;
}
nav a:hover{
    color: #E02C6D;
    background-color: white;
}
#login{
    margin-left: 330px;
    margin-right: 124px;
}
.nav-highlight{
    text-decoration: none;
    color: white;
    margin-left: 70px;
}
.top-section{
    background-color: blue;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}
.top-section h1{
    width: 485px;
    height: 230px;
    color: white;
    font-size: 64px;
}
p{
    color: #6C6C6C;
}
.link-highlight{
    width: 168px;
    height: 44px;
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.top-section img{
    width: 556px;
    height: 438px;
}
.top-section:hover img{
    transform: rotate(5deg);
    transition: 0.8s ease-out 0.01s;
}
.top-section a:hover{
    color: #E02C6D;
    font-weight: 700;
    background-color: white;
}
.blogs-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    grid-row-gap: 27px;
    margin-right: 231px;
    margin-left: 160px;
}
.blog{
    height: 459px;
    width: 330px;
    background-color: white;
    padding-top: 15px;
}
.blog img{
    height: 260px;
    width: 300px;
    margin-left: 15px;
}
.player-info{
    margin-left: 15px;
}
.bottom-section{
    display: flex;
    margin-top: 165px;
    margin-bottom: 158px;
}
.bottom-section h2{
    font-size: 48px;
    font-weight: 700;
}
.bottom-section img{
    width: 567px;
    height: 427px;
    margin-right: 120px;
    margin-left: 69px;
}
.bottom-section a:hover{
    border: 2px solid #E02C6D;
    color: #E02C6D;
    font-weight: 700;
    background-color: white;
}
.match-highlight{
    margin-left: 125px;
}
footer{
    width: 483px;
    height: 213px;
    padding-bottom: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 430px;
}
footer img{
    height: 80px;
    width: 330px;
}
.social-media i{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 25px;
}
.fab.fa-facebook-square{
    color: blue;
}
.fab.fa-twitter-square{
    color: rgb(28, 141, 185);
}
.fab.fa-instagram-square{
    color: #df3674;
}
.fab.fa-youtube-square{
    color: red;
}

/* media query */

@media screen and (max-width: 688px) {
    nav{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    #login{
        margin-left: 70px;
    }
    nav #login {
        text-align: center;
    }
    .top-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .top-section h1{
        font-size: 50px;
        margin-left: 100px;
    }
    .top-section a{
        margin-left: 90px;
    }
    .top-section img{
        height: 80%;
        width: 80%;
        margin-left: 55px;
        margin-top: 45px;
    }
    .blogs-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 80px;
    }
    .bottom-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .bottom-section img{
        height: 80%;
        width: 80%;
        margin-top: 40px;
    }
    .match-highlight{
        margin-left: 70px;
    }
    .match-highlight h2{
        font-size: 40px;
    }
    footer{
        display: flex;
        margin-left: 0;
    }
}
@media screen and (min-width: 689px) and (max-width: 992px) {
    nav{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    #login{
        margin-left: 70px;
    }
    nav #login {
        text-align: center;
    }
    .top-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .top-section h1{
        font-size: 55px;
        margin-top: -50px;
        margin-left: 100px;
    }
    .top-section a{
        margin-left: 90px;
    }
    .top-section img{
        height: 100%;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }
    .blogs-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 80px;
    }
    .bottom-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .bottom-section img{
        height: 80%;
        width: 80%;
        margin-top: 40px;
    }
    .match-highlight{
        margin-left: 70px;
    }
    .match-highlight h2{
        font-size: 40px;
    }
    footer{
        display: flex;
        margin-left: 200px;
    }
}
@media screen and (min-width: 993px) and (max-width: 1312px) {
    #login{
        display: inline-block;
        margin-top: 20px;
    }
    .blogs-section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 80px;
    }
    footer{
        display: flex;
        margin-left: 300px;
    }
}
